* {
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
    color:black;
    text-decoration: none;
  }
  
  body {
    background-color: white;
    margin: auto;
    max-width: 320 px;
  }

  h1 {
    font-size:24px;
  }

  .grey{
    color:grey
  }
  
  .purple {
    color:#9356DC;
  }

  .purple-heart{
    background-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  }

  /******************header****************/
  .logo{
    width :50%;
    height :144 px;
    margin:auto ;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo img{
    position :relative;
    object-fit: cover;
    width:100%;
  }

   /*******************localisation*****************/
  .location{
    width:100%;    
    margin:auto;
    padding : 15px 0px 15px 0px;
    background-color: #EAEAEA;
    text-align: center;
  }
  
  .location i{
    margin-right:10px;
  }

  /*********************Reservation*******************/

  .reservation{
    background-color: #F7F7F7;
    display : flex;
    flex-direction :column;
    justify-content: space-between;
    align-items: center;
    padding:30px 10px 30px 10px;
    gap:15px;
  }

  .reservation-title{
    width:80%;
    text-align: center;
  }

  .reservation-items {
    width:90%; 
    text-align: center;
  }

  .reservation-items p{
    font-size:18px;
  }

  .bouton-explorer input{
    color:white;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius :25px;
    border:none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width:100%;
    padding:15px;
  }
 
  /**************Fonctionnement *************/
  .fonctionnement{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap :15px;
    padding:30px 15px 30px 15px; 
  }
  .fonctionnement-titre{
    width:100%;
  }

  .box i{
    margin-right: 20px;
  }
  .box{
    width:100%;
    padding: 20px;
    background-color: #F7F7F7;
    border-radius: 20px;
    box-shadow : 0px 4px 15px  #F7F7F7;
  }
  /**************Restaurants **************/
  .restaurants{
    background-color: #F7F7F7;
    padding:30px 15px 30px 15px;   
    display:flex;
    flex-direction: column;
    gap:10px;
  }
  .restau-items{
    display:flex;
    flex-direction:column;
    width: 100%;
    height : 250px;
    background-color:#FFFF;
    border-radius: 20px;
  }

  .restau-items-images{
    height:180px;
  }

  .restau-items-images img{
    position: relative;
    width:100%;
    height:180px;  
    border-radius: 20px 20px 0px 0px;  
    object-fit: cover;
  }
  .nouveau{
    background-color: #99E2D0;
    font-weight:700;
    color :#008766;
    width: 80px;
    height : 29px;
    border-radius:2px;
    text-align: center;
    padding: 5px 0px 0px 0px; 
    position : relative;
    bottom : 170px;
    left : 250px;
  }

  .restau-items-details{
    display:flex;
    justify-content:space-between;
    padding:10px;
  }

/**************Footer **************/

 footer{
    background-color: #353535;
    padding: 20px;
 }

  footer h2{
    font-family: 'Shrikhand',sans-serif;
    font-weight: 400;  
    font-style:italic;
    font-size:18px;
    margin-bottom: 15px;
    color:#F6F6F6;
  }

  footer i{
    color: #F6F6F6;
    margin-right:10px;
  }
  ul{
    list-style: none;
    padding-left: 0px;  
  }

  footer a{
    text-decoration: none;
    color:white;
  }

  footer li{
    margin-bottom:7px;
  }


