* {
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
    color:black;
    text-decoration: none;
  }
  
  body {
    position: relative;
    background-color: white;
    margin: auto;
    max-width: 320 px;
  }

  h1 {
    font-size:24px;
  }

  .grey{
    color:grey
  }
  
  .purple {
    color:#9356DC;
  }

  
  /******************header****************/
  header{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  header img{
    position :relative;
    object-fit: cover;
    width:160px;
  }

   /*******************localisation*****************/
  .location{
    width:100%;    
    margin:auto;
    padding : 15px 0px 15px 0px;
    background-color: #EAEAEA;
    text-align: center;
  }
  
  .location i{
    margin-right:10px;
  }

  /*********************Reservation*******************/

  .reservation{
    background-color: #F7F7F7;
    display : flex;
    flex-direction :column;
    justify-content: space-between;
    align-items: center;
    padding:30px 10px;
    gap:15px;
  }

  .reservation h1{
    width:80%;
    text-align: center;
  }

  .reservation span {
    width:90%; 
    text-align: center;
    font-size:18px;
  }

  .bouton-explorer input{
    color:white;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius :25px;
    border:none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width:100%;
    padding:15px;
  }
  .bouton-explorer :hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    filter:brightness(1.1);/*eclaircit la couleur du bouton*/
  }

  /* *************Fonctionnement ************/
  .fonctionnement{
    padding:30px 15px;
  }
  .fonctionnement h1{
    margin-bottom:20px;  
  }
  .fonctionnement-items{
    display:flex;
    flex-direction:column;
    gap:10px;
  }

  .fonctionnement-items :hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    filter:brightness(1.01);/*eclaircit la couleur du bouton*/
  }


  .fonctionnement li {
    width:100%;
    height:60px;
    padding: 20px 15px;
    background-color: #F7F7F7;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    position:relative;
  } 
  .fonctionnement li i{
    margin-right: 20px;
  }
  
  .number{
    border-radius: 50%;
    padding:2px 4px;
    background-color: #9356DC;
    color:white;
    font-size:12px;
    position:absolute;
    Left :-8px;
  }
  
  /**************Restaurants **************/

  .restaurants-section{
    background-color: #F7F7F7;
  }
  .restaurants{
    position: relative;
    padding:30px 15px;   
    display:flex;
    flex-direction: column;
    gap:10px;
  }

  .nouveau{
    background-color: #99E2D0;
    font-size: 14px;
    font-weight:700;
    color :#008766;
    width: 80px;
    height : 29px;
    border-radius:3px;
    text-align: center;
    padding:5px;
    position : absolute;
    right:15px;
    top:25px;
    z-index: 1;
  }
  .restau-items{
    position: relative;
    display:flex;
    flex-direction:column;
    width: 100%;
    height : 250px;
    background-color:#FFFF;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }

  .restau-items img{
    position: relative;
    width:100%;
    height:180px;  
    border-radius: 20px 20px 0px 0px;  
    object-fit: cover;
  }
.restau-items-details{
  display:flex;
  justify-content: space-between;
  padding: 10px;
}
.restau-items-details-texte h2{
  margin-bottom:5px;
}

.restau-items-details i{
  font-size: 24px;
}

 /* ici commence les animations */

 .restau-items-details .full-heart {
  display:none;
  color:transparent;
  background:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  /* background:-moz-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background:-o-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%); */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  animation: fully-heart 1s ease-in-out forwards;
 }

.restau-items-details-icons:hover .full-heart{
  display: block;
}

.restau-items-details-icons:hover .empty-heart{
  display: none;
}

@keyframes fully-heart {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}




/**************Footer **************/

 footer{
    background-color: #353535;
    padding: 20px;
 }

  footer h2{
    font-family: 'Shrikhand',sans-serif;
    font-weight: 400;  
    font-style:italic;
    font-size:18px;
    margin-bottom: 15px;
    color:#F6F6F6;
  }

  footer i{
    color: #F6F6F6;
    margin-right:10px;
  }
  ul{
    list-style: none;
    padding-left: 0px;  
  }

  footer a{
    text-decoration: none;
    color:white;
  }

  footer li{
    margin-bottom:7px;
  }

/***********************************************************************************
  ***************************** Partie Responsive ************************************
  ******************************Media Querie Desktop**********************************/
  
  @media screen and (min-width:768px){


  /***************Fonctionnement***************/
  
  .fonctionnement{
     padding : 30px 100px;

  }
  .fonctionnement-items{
    display:flex;
    flex-direction:row;
    gap:30px;
    width:100%;
  }
  
  /***************Restaurants***************/
  .restaurants{

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding : 30px 100px;
  }

  .restaurants h1{
    width:100%;
  }
  
  .restau-items{
    width:46%;
  }

  /**************Footer **************/
footer{
  height:120px;
  display: flex;
  flex-direction:row-reverse;
  align-items: end;
  gap :40px;
}

footer h2{
  
  margin-bottom: 0px;
  
}
  footer ul {

  display :flex;
  flex-direction: row;
  gap :10px;
}

 }
