*{
    font-family: Raleway, sans-serif;
    font-size: 16px;
}

body{
    background-color:whitesmoke;
    max-width: 1440px;
    margin:auto;
    position: relative;
}

.big-wheel{
    position:relative;
    width:30em;
    height: 30em;
    background-color:rgba(153, 226, 208,0.3);
    border-radius:50%;
    animation: 2s linear infinite anim;
    
}
.myloader{
    position:relative;
    width:30em;
    height: 30em;
    margin:50px 100px;
    
}
.logo{
    position: absolute;
    top: 13em;
    width: 20em;
    height:3em;
    Left:5em;
    animation: 2s linear forwards appear;
}

.logo img{
    position: relative;
    object-fit:fill;
    width:100%;
}

.perle{
    width:3em;
    height: 3em;
    border-radius:50%;
    box-shadow: 2px 5px 50px rgb(153, 226, 208);
    text-align: center;
}

.perle1{
    background-color: rgba(86, 200, 220,1);
    position:absolute;
    top: 0.1em;
    Left:14em;
}

.perle11{
    background-color: rgba(86, 200, 220,0.85);
    position:absolute;
    top:2em;
    Left:20.5em;
}

.perle12{
    background-color: rgba(86, 200, 220,0.90);
    position:absolute;
    top:7em;
    Left:25.25em;
}


.perle2{
    background-color: rgba(86, 200, 220,0.84);
    position:absolute;
    top: 13em;
    Left:26.9em;

}

.perle21{
    background-color: rgba(86, 200, 220,0.76);
    position:absolute;
    top: 19.9em;
    Left:25.25em;
    
}

.perle22{
    background-color: rgba(86, 200, 220,0.68);
    position:absolute;
    top: 24.9em;
    Left:20.5em;
}

.perle3{
    background-color:rgba(86, 200, 220,0.60);
    position:absolute;
    top:26.9em;
    Left:14em;
}

.perle31{
    background-color:rgba(86, 200, 220,0.52);
    position:absolute;
    top: 24.9em;
    Left:6.5em;
}

.perle32{
    background-color:rgba(86, 200, 220,0.48);
    position:absolute;
    top: 19.9em;
    Left:1.7em;
}
.perle4{
    background-color: rgba(86, 200, 220,0.40);
    position:absolute;
    top: 13em;
    Left:0em;
}
.perle41{
    background-color: rgba(86, 200, 220,0.32);
    position:absolute;
    top: 7em;
    Left:1.7em;
}
.perle42{
    background-color:rgba(86, 200, 220,0.24);
    position:absolute;
    top: 2em;
    Left:6.5em;
}
    

@keyframes anim{
	0%{}
	100%{
		transform: rotate(-360deg);
	}
}


@keyframes appear{
	0%{
        scale: 0.05;
        opacity:0.05;
    }
    10%{
        scale: 0.05;
        opacity:0.1;
    }
    10%{
        scale: 0.1;
        opacity:0.15;
    }

    25%{
        scale:0.25;
        opacity:0.3;
    }
    50%{
        scale:0.5;
        opacity:0.6;
    }
    75%{
        scale:0.75;
        opacity:0.8;
    }

	100%{
        scale:1;
		opacity:1;
        
	}
}