* {
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
    color:black;
    text-decoration: none;
}
  
body {
    background-color:white;
    margin:auto;
}

/***********Header**********/
header{
    padding: 20px 10px;
    text-align: center;
    position:relative;
  }

header i{
    font-size:24px;
    position:absolute;
    left:20px;
}

header img{
    position :relative;
    object-fit: cover;
    width:162px;
    text-align: center;
  }

/******Restau-Image******/
.restau-images{
    width:100%;
    height:275px;
}

.restau-images img{
    /* position :relative; */
    object-fit: cover;
    width:100%;
    height:275px;
}
/****** Section Menu ******/
.menu{
    background-color: #f7f7f7;
    border-radius :20px 20px 0px 0px;
    display:flex;
    flex-direction: column;
    gap:10px;
    position:relative;
    width: 100%;
    padding: 10px;
}

.menu-titre{
    display:flex;
    justify-content: space-between;
    
}

.menu-titre h1{
    font-size: 24px;
    font-family: 'Shrikhand',sans-serif;
    font-weight: 300;
}
.menu-titre i{
    padding : 5px;
    text-align: center;
    font-size:25px;
}
/**********animation Fill menu heart**********/

.full-heart {
    display:none;
    color:transparent;
    background:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    animation: fully-heart 1s ease-in-out forwards;
}
  
.menu-titre-icons:hover .full-heart{
    display: block;
}
  
.menu-titre-icons:hover .empty-heart{
    display: none;
}
  
  @keyframes fully-heart {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  /*********Menu**********/
.menu-items{
    display:flex;
    flex-direction: column;
    gap:40px;
}

.entree-items, .plat-items, .dessert-items {
    display:flex;
    flex-direction: column;
    gap:10px;
    opacity:0;
    animation: menu-display 500ms ease-in-out forwards; /**animation affichage menu **/
}
/**animation affichage menu en ajoutant 1 delai pour affichage fluide et progressif**/
    
.plat-items {
    animation-delay:500ms;
}
.dessert-items {      
    animation-delay:1000ms;
}
@keyframes menu-display {
  
  0%{
    opacity:0; 
  }

  100%{
    opacity:1;
  }
}
/**fin animation affichage menu **/
    
.entree-items-details, .plat-items-details, .dessert-items-details{
    background-color: #FFFF;
    height: 70px; 
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display:flex;
    position :relative;
    width: 100%;
}
/***************************************************/
/** animation plat choisi : check box qui glisse **/
.plat-items-details-choisi {
    border-radius: 0 15px 15px 0;
    width:0%;
    background-color: #99E2D0;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:all 0.2s ease-in-out;/*en mettant la transition ici avec la meme duree et 
    ligne 175 |*-* ??| on obtient l'elargissement de droite vers la gauche*/
}
.plat-items-details-choisi i{
    font-size: 0px;
    color:transparent;
    background:white;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
}

.entree-items-details-texte, .plat-items-details-texte, .dessert-items-details-texte {
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items:end;
    transition:all 0.2s ease-in-out; /*??..|*-*|..?? */
}

.entree-items-details:hover .plat-items-details-choisi i{
    font-size: 20px;
}
.entree-items-details:hover .plat-items-details-choisi{
    width:10%;
}
.entree-items-details:hover .entree-items-details-texte{
    width:90%;
}

.plat-items-details:hover .plat-items-details-texte{
    width:90%;
}
.plat-items-details:hover .plat-items-details-choisi{
    width:10%;
}
.plat-items-details:hover .plat-items-details-choisi i{
    font-size: 20px;
}

.dessert-items-details:hover .dessert-items-details-texte{
    width:90%;
}
.dessert-items-details:hover .plat-items-details-choisi{
    width:10%;
}
.dessert-items-details:hover .plat-items-details-choisi i{
    font-size: 20px;
}

/** fin animation pla choisi **/



.menu h2{
    font-weight: 300;
    margin-bottom:12px;
    position: relative;
}

/*** ajoute du surlignage vert via la pseudo classe "::after"  ***/
.menu h2::after {
 content: ".";
 color:transparent;
 height :100px;
 width:40px;
 border-bottom: 3px solid #99E2D0;
 position: absolute;
 left:0px;
 bottom : -2px;
}

h3{
    margin-bottom:5px;
}
/***** Bouton commander ******/

.bouton-commander{
    text-align: center;
    padding-bottom: 40px;
}

.bouton-commander input{
    color:white;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-radius :25px;
    border:none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width:186px;
    height :50px;
    padding:15px;
}   

.bouton-commander :hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    filter:brightness(1.1);/*eclaircit la couleur du bouton*/
}

/**************Footer **************/

footer{
    background-color: #353535;
    padding: 20px;
}

footer h2{
    font-family: 'Shrikhand',sans-serif;
    font-weight: 400;  
    font-style:italic;
    font-size:18px;
    margin-bottom: 15px;
    color:#FFFF;
}

footer i{
    color: #FFFF;
    margin-right:10px;
}

ul{
    list-style: none;
    padding-left: 0px;  
}

footer a{
    text-decoration: none;
    color:#FFFF;
}

footer li{
    margin-bottom:7px;
}

/***********************************************************************************
  ***************************** Partie Responsive ************************************
  ******************************Media Querie Desktop**********************************/
  
  @media screen and (min-width:768px){

/**************section menu **************/
.menu{
    margin:auto;
    width: 70%;
}

/**************Footer **************/
footer{
    height:120px;
    display: flex;
    flex-direction:row-reverse;
    align-items: end;
    gap :40px;
}

footer h2{
    margin-bottom: 0px;
}

footer ul {
    display :flex;
    flex-direction: row;
    gap :10px;
    }

}

 